<header *ngIf="showNavbarFooter && !isLoggedIn">
  <div class="header-content">
    <div class="logo" (click)="goHome()">
      <img src="assets/logo.png" alt="Logo">
    </div>
    <div class="header-actions">
      <!-- <div class="theme-toggle" (click)="toggleTheme()">
        <i class="fas fa-sun"></i>
        <div class="toggle-switch">
          <div class="toggle-slider" [class.active]="isDarkTheme"></div>
        </div>
        <i class="fas fa-moon"></i>
      </div> -->
      <a routerLink="/login" routerLinkActive="active">
         Login
      </a>
    </div>
  </div>
</header>

<header class="dashboard-header" *ngIf="showNavbarFooter && isLoggedIn">
  <div class="dashboard-sidebar" [class.hidden]="isSidebarHidden">
    <button class="toggle-sidebar" (click)="toggleSidebar()">
      <i class="fas" [class.fa-chevron-left]="!isSidebarHidden" [class.fa-chevron-right]="isSidebarHidden"></i>
    </button>
    <nav class="sidebar-nav">
      <img src="assets/logo.png" alt="Logo" class="small-logo">
      <a routerLink="/tabela" routerLinkActive="active" (click)="toggleSidebarVisibility()">
        <i class="fas fa-table"></i> Tabela Geral
      </a>
      <a routerLink="/rodada" routerLinkActive="active" (click)="toggleSidebarVisibility()">
        <i class="fas fa-calendar-alt"></i> Adicionar Pontuação
      </a>
      <a routerLink="/adicionar-time" routerLinkActive="active" (click)="toggleSidebarVisibility()">
        <i class="fas fa-plus-circle"></i> Adicionar Time
      </a>
      <div class="dashboard-footer">
        <div class="theme-toggle" (click)="toggleTheme()">
          <i class="fas fa-sun"></i>
          <div class="toggle-switch">
            <div class="toggle-slider" [class.active]="isDarkTheme"></div>
          </div>
          <i class="fas fa-moon"></i>
        </div>
        <button (click)="logout()" class="logout-button">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
      </div>
    </nav>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<app-toast *ngFor="let toast of toasts$ | async" [message]="toast.message" [type]="toast.type"></app-toast>

<div class="loading-spinner" *ngIf="isLoading">
  <div class="spinner-container">
    <div class="spinner-circle"></div>
    <div class="spinner-text">Carregando...</div>
  </div>
</div>

